html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px; 
	padding: 0 10px; 
}


/* Header */
.header {
  	height: 240px;
  	text-align: center; 
    background-color: aliceblue;
  	//background: url() no-repeat center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.header .container {
	position: relative;
	top: 50px;
}

.header h1 {
	font-size: 60px;
	line-height: 100px; 
	margin-top: 0;
	margin-bottom: 5px;
  	color: white;
	font-family: 'Muli', sans-serif;
}

.header h3 {
  margin-bottom: 10px;
  color: white;
  font-family: 'Muli', sans-serif;
}

.main .container {
  margin-top: 90px;
  //margin-bottom: 200px;
  margin-left: 5%;
}

#bold {
  font-size: 20px;
  text-align: left;
}

#heading {
  text-align: center;
  position: relative;
  top: -30px;
}

input {
    border: 0px;
    padding: 5px;
    background-color: #eeeeee;
    border-radius: 5px;
    margin-top: 4px;
}

img {
  height: 100px;
  width: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 6%
}

.main p {
  margin-bottom: 10px;
}

#hrs, #mins {
  width: 25px;
}

#submit {
  float: right;
  font-size: 40px;
  position: relative;
  top: -90px;
}

#submit:hover {
  background-color: aliceblue;
}

.footer {
  background-color: aliceblue;
  height: 70px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .container {
  margin-top: 12px;
  color: #444444;
  float: right;
  margin-right: 20px;
}
